@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --fonte-principal: "Inter", sans-serif;
    --cor-principal: #0A3871;
    --cor-secundaria: #F3F5FC;
    --cor-terciaria: #495057;
    --cor-quaternaria: #FFF;
    --preto: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--fonte-principal);
    font-size: 1em;
    background-color: var(--cor-secundaria);
}

.cabecalho {
    margin: 1em;
    padding-bottom: 1em;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-height: calc(100vh - 40px);
    margin: 1em;
    padding-bottom: 40px;
}

.container-entrada {
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-height: calc(100vh - 40px);
    padding-bottom: 40px;
    justify-content: flex-start;
}

.container-entrada__texto {
    width: 100%;
    height: 30vh;
    border: none;
    background-color: var(--cor-secundaria);
    font-family: var(--fonte-principal);
}

.container-entrada__texto::placeholder {
    font-family: var(--fonte-principal);
    font-size: 2em;
    padding: 1em;
    color: var(--cor-principal);
}

.container-entrada__texto:focus{
    outline: none;
    font-size: 2em;
    color: var(--cor-principal);
}

.container-entrada__texto:focus::placeholder{
    opacity: 0;
}

.container-entrada__alerta {
    font-size: 0.75em;
    display: flex;
    gap: 8px;
    margin: 1em;
}

.container-botoes {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.container-botao__criptografar,
.container-botao__descriptografar {
    font-size: 1em;
    padding: 1.5em;
    border: 1px solid;
    border-radius: 1.5em;
    width: 100%;
}

.container-botao__criptografar {
    color: var(--cor-quaternaria);
    background-color: var(--cor-principal);
}

.container-botao__descriptografar {
    color: var(--cor-principal);
    background-color: var(--cor-quaternaria);
}

.container__resultado {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px; 
}

.container-resultado__saida__vazio {
    width: 100%;
    padding: 2em;
    text-align: center;
    border-radius: 32px;
    background: var(--cor-quaternaria);
    box-shadow: 0px 24px 32px -8px rgba(0,0,0,0.08);
    -webkit-box-shadow: 0px 24px 32px -8px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 24px 32px -8px rgba(0,0,0,0.08);
}

.container-resultado__saida__vazio img {
    display: none;
}


.container-resultado__saida__criptografado {
    width: 100%;
}

.container-botao__copiar {
    display: none;
    margin-top: 2em;
    width: 100%;
}

.rodape {
    position: sticky;
    bottom: 0;
    width: 100vw;
    background-color: var(--cor-principal);
    padding-top: 0.65em;
    text-align: center;
    height: 40px;
    color: var(--cor-quaternaria);
}

@media screen and (min-width: 376px) {
    .container-botoes {
        flex-direction: row;
    }
}

@media screen and (min-width: 769px) {
    .principal {
        min-height: 100vh;
    }

    .container {
        flex-direction: row;
        flex: 1;
        margin: 2.5em;
    }

    .container__entrada {
        width: 90%;
    }

    .container__resultado {
        min-width: 25vw;
    }

    .container-entrada__texto {
        height: 77vh;
        padding-top: 8em;
    }

    .container-entrada__texto:focus-visible{
        padding-left: 0 2em;
    }

    .container-resultado__saida__vazio {
        height: 91vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .container-resultado__saida {
        display: none;
        height: 100%;
        border: none;
        color: var(--cor-principal);
        font-size: 2em;
        font-weight: 400;
        font-family: var(--fonte-principal);
    }

    .container-resultado__saida__vazio img {
        display: block;
    }

    .rodape {
        margin-top: auto;
        width: 100%;
    }
}